---
Checks:          'bugprone-*,clang-diagnostic-*,-clang-diagnostic-missing-braces,clang-analyzer-*,misc-*,-misc-unused-parameters,performance-*,portability-*,readability-*,-readability-braces-around-statements'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
User:            abuild
CheckOptions:
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '2'
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '2'
  - key:             readability-function-size.StatementThreshold
    value:           '1540'
  - key:             readability-function-size.BranchThreshold
    value:           '98'
  - key:             readability-function-size.ParameterThreshold
    value:           '22'
  - key:             readability-function-size.NestingThreshold
    value:           '7'
  - key:             readability-function-size.VariableThreshold
    value:           '293'
...
