---
Checks:          'bugprone-*,
                  -bugprone-narrowing-conversions,
                  -bugprone-suspicious-missing-comma,
                  clang-diagnostic-*,
                  -clang-diagnostic-missing-braces,
                  -clang-diagnostic-address-of-packed-member,
                  -clang-diagnostic-warning,
                  clang-analyzer-*,
                  -clang-analyzer-valist.Uninitialized,
                  -clang-analyzer-deadcode.DeadStores,
                  -clang-analyzer-unix.API,
                  -clang-analyzer-optin.portability.UnixAPI,
                  -clang-analyzer-optin.performance.Padding,
                  -clang-analyzer-core.CallAndMessage,
                  -clang-analyzer-core.VLASize,
                  -clang-analyzer-unix.Malloc,
                  -clang-analyzer-core.uninitialized.Assign,
                  -clang-analyzer-security.insecureAPI.strcpy,
                  -clang-analyzer-core.UndefinedBinaryOperatorResult,
                  -clang-analyzer-core.uninitialized.UndefReturn,
                  -clang-analyzer-core.uninitialized.Branch,
                  -clang-analyzer-core.DivideZero,
                  -clang-analyzer-core.NullDereference,
                  misc-*,
                  -misc-unused-parameters,
                  performance-*,
                  portability-*,
                  readability-*,
                  -readability-braces-around-statements,
                  -readability-named-parameter,
                  -readability-redundant-member-init,
                  -readability-implicit-bool-conversion,
                  -readability-inconsistent-declaration-parameter-name,
                  -readability-else-after-return'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
User:            abuild
CheckOptions:
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '2'
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '2'
  - key:             readability-function-size.StatementThreshold
    value:           '1540'
  - key:             readability-function-size.BranchThreshold
    value:           '98'
  - key:             readability-function-size.ParameterThreshold
    value:           '22'
  - key:             readability-function-size.NestingThreshold
    value:           '7'
  - key:             readability-function-size.VariableThreshold
    value:           '293'
...
