# Located at the project root
root = true

# Base settings for most files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = tab
indent_size = 8

max_line_length = 80

[meson.build]
indent_style = space
indent_size = 8
