# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Ordering is important! The last matching file pattern has the highest precedence.

# Do not use @user, @@group or @org/team syntax as these are either Github or Bitbucket specific
# Use only emails addresses

/src/npf_shim.* ian.wilson@intl.att.com paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com
/src/npf/ ian.wilson@intl.att.com paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com
/src/npf/app_group/ paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com
/src/npf/dpi/ paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com

src/*qos* aroberts@vyatta.att-mail.com adewar@vyatta.att-mail.com

/src/session/ ian.wilson@intl.att.com paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com

meson.build   nick.brown@att.com
/Jenkinsfile  nick.brown@att.com
