# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Ordering is important! The last matching file pattern has the highest precedence.

# Do not use @user, @@group or @org/team syntax as these are either Github or Bitbucket specific
# Use only emails addresses

/src/npf_shim.* iwilson@mail.eng.vyatta.net paitken@mail.eng.vyatta.net dfawcus+atlassian@mail.eng.vyatta.net gsheare@mail.eng.vyatta.net
/src/npf/ iwilson@mail.eng.vyatta.net paitken@mail.eng.vyatta.net dfawcus+atlassian@mail.eng.vyatta.net gsheare@mail.eng.vyatta.net
/src/npf/app_group/ paitken@mail.eng.vyatta.net dfawcus+atlassian@mail.eng.vyatta.net gsheare@mail.eng.vyatta.net
/src/npf/dpi/ paitken@mail.eng.vyatta.net dfawcus+atlassian@mail.eng.vyatta.net gsheare@mail.eng.vyatta.net

/src/qos* aroberts@mail.eng.vyatta.net adewar@mail.eng.vyatta.net

/src/session/ iwilson@mail.eng.vyatta.net paitken@mail.eng.vyatta.net dfawcus+atlassian@mail.eng.vyatta.net gsheare@mail.eng.vyatta.net
