Source: vyatta-dataplane
Section: non-free/net
Priority: optional
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Standards-Version: 3.9.8
Build-Depends: meson,
               bvnos-linux-libc-dev-vyatta (>> 4.19.16-0vyatta6),
               check <!nocheck>,
               debhelper-compat (= 12),
               dh-exec,
               golang-goprotobuf-dev,
               lcov <!nocheck>,
               libbsd-dev,
               libcap-dev,
               libczmq-dev,
               libdpdk-dev (>= 20.11-2vyatta4),
               libgoogle-protocolbuffers-perl,
               libinih-dev,
               libjson-c-dev <!nocheck>,
               libmnl-dev,
               libndpi-dev (>= 3.4),
               libnuma-dev,
               libosip2-dev,
               libpcap-dev (>= 1.7.0),
               libprotobuf-c-dev,
               libprotobuf-dev,
               libssl-dev,
               librte-acl-rcu-qsbr-dq-support-dev,
               libsystemd-dev,
               liburcu-dev (>= 0.8.0),
               libvyatta-dpdk-swport-dev (>= 0.1.23),
               libzmq3-dev (>= 4.0.4),
               perl (>= 5.8.8),
               pkg-config,
               protobuf-c-compiler,
               protobuf-compiler,
               python3,

Package: vyatta-dataplane
Section: non-free/net
Architecture: any
Recommends: dpdk-modules
Pre-Depends: ${misc:Pre-Depends}
Depends: adduser,
         dmidecode [amd64],
         libconfig-tiny-perl,
         libfile-slurp-perl,
         librte-meta-allpmds,
         lsb-base (>= 3.0-6),
         mstflint,
         rsyslog,
         rte-acl-rebuild-support,
         rte-acl-rcu-qsbr-dq-support,
         vyatta-cpu-shield (>> 0.2.6),
         vyatta-platform-util,
         libvyatta-vplane,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Breaks: vplane-controller (<< 3.6.8),
	vyatta-poe (<< 0.3),
	vyatta-service-portmonitor-v1-yang (<< 3.8)
Provides: fal-acl,
          fal-acl-commit,
          fal-backplane,
          fal-bfd-hw,
          fal-bfd-hw-nego,
          fal-bfd-hw-mode,
          fal-br-walk-neigh,
          fal-buffer-errors,
          fal-cmd-ret,
          fal-ipmc,
          fal-l2-upd-port-status,
          fal-lag,
          fal-nh-router-intf,
          fal-pause,
          fal-packet-capture,
          fal-policer-clear-stats,
          fal-port-attr-hw-mirroring,
          fal-ptp,
          fal-ptp-additional-path,
          fal-ptp-g8275p2,
          fal-ptp-g8275p1,
          fal-ptp-peer-resolution,
          fal-synce,
          fal-qos-hw-info,
          fal-qos-mark-map-dp,
          fal-qos-queue-designation,
          fal-rif-stats,
          fal-route-walk,
          fal-router-interface,
          fal-tun,
          fal-tun-dscp,
          fal-vlan-feat-create,
          fal-deferred-free,
          fal-mac-limit,
          fal-br-vlan-set-empty,
          fal-bfd-max-interval-cnt,
          fal-qos-egressmap,
          fal-cpp-pim-ip-mc,
          fal-mirror-vlan,
          fal-bfd-sess-id,
          fal-acl-rule-no,
          fal-bfd-session-dump,
          fal-qos-dscp-egressmap,
          fal-route-vrf-obj,
          fal-neigh-rtr-intf-obj,
          fal-ret-plugin-consumed,
Description: Vyatta optimized dataplane
 Vyatta dataplane is the set of tools to provide performance optimized routing
 and forwarding. It supports IPv4, IPv6, firewalling, bridging and more.

Package: vyatta-dataplane-dev
Section: non-free/devel
Architecture: any
Depends: check,
       libdpdk-dev (>= 20.11-2vyatta4),
         libjson-c-dev,
         libvyattafal-dev,
         libvyatta-dataplane-proto-dev,
         libvyatta-dataplane-proto-c-dev,
         libprotobuf-c-dev,
         libvyatta-jsonw1 (= ${binary:Version}),
         ${misc:Depends},
Provides: dp-pktmbuf-set-vrf,
          dp-session-pack-protobuf
Description: Vyatta dataplane pipeline node build support
 Set of headers required for dataplane compilation

Package: vyatta-dataplane-test
Section: non-free/devel
Architecture: any
Build-Profiles: <!nocheck>
Depends: librte-meta-allpmds,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Vyatta dataplane test binary
 A test binary used for running unit tests

Package: libvyatta-dataplane-proto-support
Section: non-free/devel
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Vyatta dataplane protocol buffer files and support
 Set of files defining message formats accepted by the dataplane

Package: vyatta-dataplane-sample-plugin
Section: non-free/net
Architecture: any
Build-Profiles: <!nocheck>
Depends: vyatta-dataplane | vyatta-dataplane-test,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Vyatta dataplane sample plugin library
 A sample pipeline plugin for the Vyatta dataplane that illustrates
 how a plugin can work.

Package: libvyattafal-dev
Section: non-free/libdevel
Architecture: any
Depends: libdpdk-dev (>= 20.11-2vyatta4), ${misc:Depends}
Provides: fal-dev-acl,
          fal-dev-backplane,
          fal-dev-bfd-hw,
          fal-dev-bfd-hw-nego,
          fal-dev-bfd-hw-mode,
          fal-dev-br-walk-neigh,
          fal-dev-cmd-ret,
          fal-dev-cpp-rl,
          fal-dev-ipmc,
          fal-dev-gpc,
          fal-dev-l2-upd-port-status,
          fal-dev-l3-dump,
          fal-dev-lag,
          fal-dev-nh-router-intf,
          fal-dev-packet-capture,
          fal-dev-pause,
          fal-dev-policer-clear-stats,
          fal-dev-policer-colour-aware,
          fal-dev-port-attr-hw-mirroring,
          fal-dev-ptp,
          fal-dev-ptp-additional-path,
          fal-dev-ptp-g8275p2,
          fal-dev-ptp-g8275p1,
          fal-dev-synce,
          fal-dev-qos-hw-info,
          fal-dev-qos-incremental-stats,
          fal-dev-qos-mark-map-dp,
          fal-dev-qos-queue-designation,
          fal-dev-rif-stats,
          fal-dev-route-walk,
          fal-dev-router-interface,
          fal-dev-tun,
          fal-dev-tun-dscp,
          fal-dev-vlan-feat-create,
          fal-dev-vlan-rx-stats-range,
          fal-dev-l3-nh-usability,
          fal-dev-deferred-free,
          fal-dev-mac-limit,
          fal-dev-br-vlan-set-empty,
          fal-dev-bfd-max-interval-cnt,
          fal-dev-qos-egressmap,
          fal-dev-cpp-pim-ip-mc,
          fal-dev-mirror-vlan,
          fal-dev-bfd-sess-id,
          fal-dev-capture-get-stats,
          fal-dev-l2-port-dump,
          fal-dev-bfd-session-dump,
          fal-dev-qos-dscp-egressmap,
          fal-dev-invalid-vrf-id,
          fal-dev-route-vrf-obj,
          fal-dev-neigh-rtr-intf-obj,
          fal-dev-ret-plugin-consumed,
Description: Forwarding Abstraction Library plugin development files
 An API for dataplane FAL plugins

Package: vyatta-dataplane-protocols-versions
Architecture: all
Depends: ${misc:Depends}
Provides: ${protocols:Provides}
Description: dataplane runtime protocols versions tracking meta-package
 This meta-package will provide a virtual package for each of
 the runtime protocols spoken by vyatta-dataplane, including
 their versions.

Package: golang-github-danos-vyatta-dataplane-protobuf-dev
Architecture: all
Depends: golang-goprotobuf-dev, ${misc:Depends}
Description: Provides Go language bindings for the datplane API.
 Go bindings for the dataplane API.

Package: libvyatta-dataplane-proto1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: Provides C++ language bindings for the dataplane API.
 C++ bindings for the dataplane API.

Package: libvyatta-dataplane-proto-c1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: Provides C language bindings for the dataplane API.
 C bindings for the dataplane API.

Package: libvyatta-vplane
Architecture: any
Depends: ${misc:Depends}
Multi-Arch: same
Description: Provides Vyatta Vplane.pm modules
 Perl modules that supports system initialization for the dataplane.

Package: libvyatta-dataplane-proto-dev
Section: non-free/libdevel
Architecture: any
Depends: libvyatta-dataplane-proto1 (= ${binary:Version}), ${misc:Depends}
Description: Provides C++ headers for the dataplane API.
 C++ headers for the dataplane API.

Package: libvyatta-dataplane-proto-c-dev
Section: non-free/libdevel
Architecture: any
Depends: libvyatta-dataplane-proto-c1 (= ${binary:Version}), ${misc:Depends}
Breaks: libvyatta-dataplane-proto-dev (<<3.13.3)
Replaces: libvyatta-dataplane-proto-dev (<<3.13.3)
Description: Provides C headers for the dataplane API.
 C headers for the dataplane API.

Package: libvyatta-jsonw1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Lightweight JSON writer library.
 Lighweight, simple JSON writer library.
