Source: vyatta-dataplane
Section: non-free/net
Priority: optional
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config,
	       libdpdk-dev (>= 18.11-0vyatta4), libnuma-dev,
	       libinih-dev,
	       libmnl-dev, libcap-dev, liburcu-dev (>= 0.8.0),
	       libzmq3-dev (>= 4.0.4), libbsd-dev, libczmq-dev,
	       libxen-dev, libosip2-dev,
	       cpputest, check, lcov,
	       libpcap-dev (>= 1.7.0), libjson-c-dev,
	       libssl-dev, debhelper (>= 9.20160709) | dh-systemd (>= 10.2.4),
	       autoconf-archive (>= 20150925),
	       libsystemd-dev, libvyatta-dpdk-swport-dev (>= 0.1.15),
	       valgrind <pkg.vyatta-dataplane.valgrind>,
	       python3, protobuf-c-compiler, libprotobuf-c-dev,
	       protobuf-compiler, perl (>= 5.8.8),
	       libgoogle-protocolbuffers-perl,
	       bvnos-linux-libc-dev-vyatta (>> 4.19.16-0vyatta6),

Package: vyatta-dataplane
Section: non-free/net
Architecture: any
Recommends: dpdk-modules
Depends:  libconfig-tiny-perl, libfile-slurp-perl,
	  adduser, dmidecode [amd64],
	  lsb-base (>= 3.0-6), rsyslog, vyatta-cpu-shield (>> 0.2.6),
          vyatta-platform-util,
	  ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: fal-policer-clear-stats,
          fal-router-interface,
          fal-vlan-feat-create,
          fal-port-attr-hw-mirroring,
          fal-backplane,
          fal-qos-hw-info,
          fal-tun,
          fal-ptp,
          fal-ptp-peer-resolution,
          fal-acl,
          fal-ipmc,
          fal-acl-commit,
          fal-cmd-ret,
          fal-br-walk-neigh,
          fal-tun-dscp,
Description: Vyatta optimized dataplane
 Vyatta dataplane is the set of tools to provide performance optimized routing
 and forwarding. It supports IPv4, IPv6, firewalling, bridging and more.

Package: vyatta-dataplane-dev
Section: non-free/devel
Architecture: any
Depends: ${misc:Depends}
Description: Vyatta dataplane pipeline node build support
 Set of headers required for dataplane compilation

Package: libvyatta-dataplane-proto-support
Section: non-free/devel
Architecture: all
Depends: ${misc:Depends}
Description: Vyatta dataplane protocol buffer files and support
 Set of files defining message formats accepted by the dataplane

Package: vyatta-dataplane-sample-plugin
Section: non-free/net
Architecture: any
Depends:  vyatta-dataplane, ${shlibs:Depends}, ${misc:Depends}
Description: Vyatta dataplane sample plugin library
 A sample pipeline plugin for the Vyatta dataplane that illustrates
 how a plugin can work.

Package: libvyattafal-dev
Section: non-free/libdevel
Architecture: any
Depends: ${misc:Depends}, libdpdk-dev
Provides: fal-dev-policer-clear-stats,
          fal-dev-router-interface,
          fal-dev-vlan-feat-create,
          fal-dev-vlan-rx-stats-range,
          fal-dev-port-attr-hw-mirroring,
          fal-dev-backplane,
          fal-dev-qos-hw-info,
          fal-dev-cpp-rl,
          fal-dev-qos-incremental-stats,
          fal-dev-tun,
          fal-dev-ptp,
          fal-dev-acl,
          fal-dev-ipmc,
          fal-dev-cmd-ret,
          fal-dev-br-walk-neigh,
          fal-dev-tun-dscp,
Description: Forwarding Abstraction Library plugin development files
 An API for dataplane FAL plugins

Package: vyatta-dataplane-dbg
Section: non-free/debug
Architecture: any
Depends: vyatta-dataplane (= ${binary:Version}), ${misc:Depends}
Description: Vyatta dataplane debug symbols
 Debug symbols for dataplane

Package: vyatta-dataplane-protocols-versions
Architecture: all
Depends: ${misc:Depends}
Provides: ${protocols:Provides}
Description: dataplane runtime protocols versions tracking meta-package
 This meta-package will provide a virtual package for each of
 the runtime protocols spoken by vyatta-dataplane, including
 their versions.
